/* Index */
#id {
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../images/header-background.jpg) no-repeat top center;
    background-size: cover !important;
 }
 #name {
    color: white;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 #me {
     color: #030a0f;
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
 }
/* Header */
header {
    position: relative;
    text-align: center;
    overflow: hidden;
}
header:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/* Navigation */
nav {
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: url(../images/header-img.jpg);
    display: block;
}
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
#nav-wrap {
    font: 15px 'opensans-bold', sans-serif;
    font-weight: bolder;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
ul#nav {
    min-height: 75px;
    width: auto;
    text-align: center;
}
ul#nav li {
    position: relative;
    list-style: none;
    height: 75px;
    display: inline-block;
}
ul#nav li a {
    display: table-cell;
    padding: 8px 40px;
    line-height: 60px;
    text-decoration: none;
    text-align: left;
    color: #0faeec;

}
ul#nav li a:active {
    background-color: transparent !important;
}
ul#nav li.current a {
    color: #161400;
}

/* Body */
body {
    background-color: wheat;
}

/* About Page */
h2 {
    text-align: center;
    font-size: large;
    text-decoration: bold;
}
p {
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: #030a0f;    
    
}
img {
    position: relative;
   width: 250px;
   height: 250px;
   float: right;
   margin-top: 10px;
   margin-left:200px;
   margin-right: 300px;
   align-content: center;
   width: 300px;
   height: 300px;
}
form {
    width: 300px;
    background: pink;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 30px auto 0;
    border-radius: 5px;
    
    
}
label {
    display: block;
    margin-bottom: 5px
}
label i {
    color: #999;
    font-size: 50%;
}
input, select {
    border: 1px solid #ccc;
    padding: 5px;
    display: block;
    width: 50%;
    box-sizing: border-box;
    border-radius: 2px;
}
/*
.row {
    padding-bottom: 10px;
}
*/
.form-inline {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 10px;
}
.error {
    color: red;
    font-size: 80%;
}
input[type="submit"] {
    font-size: 80%;
    font-weight: 100;
    background: black;
    border-color: grey;
    box-shadow: 0 1px 0 gray;
    color: yellow;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #082d46;
}

/* About */
#about a, #about a:visited  { color: #fff; }
 #about a:hover, #about a:focus { color: #11ABB0; }
 
 #about h2 {
    font-display: 200px;
    font-style: oblique;
    color: black;
    margin-bottom: 20px;
    margin-top: 150px;
    margin-right: 350px;
 }
 #about p {
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 400;
    color: black;
    margin-right: 60px;
 }
 #about .profile-pic {
    position: relative;
    float: left;
    margin-top: 0px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
 }

 /* Blog */
.inputt {
    width: 400px;
    align-items: center;
}
#container {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
.place {
    position: relative;
    /* border: 10px solid black; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    overflow: auto;
}
.image {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    width: 40%;
    height: 40%;
}
.top {
    margin-top: 30px;
    font-size: x-large;
    font-family: cursive;
    color: purple;
}
.matter {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}